streamlit==1.44.0
google-generativeai==0.3.2
firebase-admin==6.2.0
python-dotenv==1.0.0
spacy==3.7.4
Pillow==11.1.0
requests==2.32.3
protobuf==4.25.6
numpy==1.26.4  # Required for spaCy compatibility
thinc==8.2.3  # Required for spaCy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
