streamlit
google-generativeai
firebase-admin
python-dotenv
spacy
Pillow
requests
altair
annotated-types
attrs
blinker
CacheControl
cachetools
certifi
cffi
charset-normalizer
click
colorama
cryptography
distlib
filelock
gcloud
gitdb
GitPython
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-cloud-core
google-cloud-firestore
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
grpcio
grpcio-status
httplib2
idna
Jinja2
jsonschema
jsonschema-specifications
jws
MarkupSafe
msgpack
narwhals
numpy
oauth2client
packaging
pandas
platformdirs
proto-plus
protobuf
pyarrow
pyasn1
pyasn1-modules
pycparser
pycryptodome
pydantic
pydantic-core
pydeck
PyJWT
pyparsing
PyQt5
PyQt5-Qt5
PyQt5_sip
python-dateutil
python-jwt
pytz
referencing
requests-toolbelt
rpds-py
rsa
setuptools
six
smmap
tenacity
toml
tornado
tqdm
ttkbootstrap
typing-inspection
typing_extensions
tzdata
uritemplate
urllib3
virtualenv
watchdog
wheel
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0-py3-none-any.whl
